* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px dashed red;
  border: none !important;
}

:root {
  --primary-color: rgb(41, 39, 38);
  --secondary-color: #9b491d;
  --tertiary-color: #fff;
}

body {
  background-color: var(--primary-color);
}

.pizza-container {
  height: calc(100vh - 64px);
  align-items: center;
  width: 50vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.builder-wrapper {
  display: flex;
}

.pizza {
  width: calc(50vw);
  height: calc(50vw * 0.5625);
  max-height: 800px;
  background-image: url("../assets/pizza-no-background.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
}

.ingredients-container {
  display: flex;
  flex-wrap: wrap;
  flex-flow:wrap;
  margin: 0;
  justify-content: center;
  align-items: center;
  height: fit-content;
  gap: 20px;
  width: 50vw;
  border: 1px solid magenta;
  align-self: center;
}

.ingredient {
  width: 10vw;
  height: 10vw;
}

.ingredient:hover {
  cursor: pointer;
  transform: scale(1.2);
}

#pizza {
  position: relative;
}

.topping-on-pizza {
  position: absolute;
  left: calc(20%);
  top: calc(50% - 50px);
}

.topping-container {
  border: 3px solid pink;
  margin-top: 4%;
  height: 65%;
  width: 70%;
  position: relative;
  max-width: 1000px;
}

.invisible {
  display: none;
}

.btn {
  width: 250px;
  height: 75px;
  border-radius: 40px;
  background-color: var(--secondary-color);
  font-size: 1.3rem;
  color: var(--tertiary-color);
  border: none;
}

.btn:hover {
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  gap: 5%;
}

@media (max-width: 1024px) {
  .builder-wrapper {
    flex-direction: column;
  }

  .ingredients-container{
    width: 100%;
    height: auto;
  }

  .ingredient {
    width: 10vh;
    height: 10vh;
  }

  .pizza-container {
    height: auto;
    width: 100%;
    justify-content: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .pizza {
    width: 86vw;
    height: calc(86vw * 0.5625);
  }

  body {
    max-height: 100vh;
  }

  .btn {
    width: 30vw;
    height: 10vw;
    border-radius: 9vw;
    font-size: 4vw;
  }

  .button-container {
    margin-top: 5vh;
  }
}