@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select:auto;
  border: none !important;
}

body {
  background-color: var(--primary-color);
}

main {
  border: 3px solid blue;
}

table {
  color: var(--tertiary-color);
  font-family: 'Inter', sans-seri;
  border-collapse: collapse;
  font-size: calc(0.5vw + 10px);
  border: 2px solid green;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
  background-color: rgb(189, 74, 32);
  text-align: left;
  color:#fff;
  font-variation-settings: 'wght' 600;
}

table thead th:nth-child(5) {
  text-align: center;
}

table th, table td {
  padding: 12px 15px;
}

table th:nth-child(1) {
  width: 5vw;
}

table th:nth-child(2) {
  width: 10vw;
}

table th:nth-child(4) {
  width: 32px;
}
table th:nth-child(5) {
  width: 30px;
}


table th:nth-child(6) {
  width: 100px;
}

table th:nth-child(7) {
  width: 2vw;
}
table tr td:nth-child(7) {
  text-align: center;
}

table th {
  height: 7vh;
}

table tbody tr {
  border-bottom: 1px solid #494949;
}

table tbody tr:nth-of-type(even) {
  background-color: #222222;
}

table tbody tr td:nth-of-type(6) {
  text-align: center;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid rgb(189, 74, 32);
}

#pizzas {
  grid-area: pizza;
}

#pizzas-baked-in {
  grid-area: pizza-baked-in;
}

#rolls {
  grid-area: rolls;
}

main {
  display: grid;
  grid-template-areas: 
  "pizza pizza-baked-in"
  "pizza rolls";
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  min-height: calc(100vh - 114px);
  margin-left: 20px;
  margin-right: 20px;
  margin: 25px 20px;
}

@media screen and (max-width: 1150px) {
  main {
    grid-template-areas: 
    "pizza"
    "pizza-baked-in"
    "rolls";
    grid-template-columns: 1fr;
  }
  
  table {
    font-size: calc(0.5vw + 10px);
  }
}

@media screen and (max-width: 540px) { 
  table th:nth-child(1) {
    padding-left: 10px;
    padding-right: 0;
    width: 2vw;
  }
  table td:nth-child(1) {
    width: 2vw;
    padding-left: 10px;
    padding-right: 0;
  }

  table th:nth-child(2) {
    padding-right: 0px;
    padding-left: 10px;
  }

  table td:nth-child(2) {
    padding-right: 0px;
    padding-left: 10px;
  }

  table th:nth-child(3) {

    padding-right: 5px;
 
  }

  table td:nth-child(3) {
    padding-right: 5px;
  }

  table th:nth-child(4) {
    padding-left: 0px;
    padding-right: 5px;
    width: auto;
  }
  table td:nth-child(4) {
    padding-left: 0px;
    padding-right: 5px;
  }

  table th:nth-child(5) {
    padding-left: 0px;
    padding-right: 0px;
    width: auto;
  }

  .rating-amount-label {
    font-size: 10px !important;
  }

  
  table td:nth-child(6) {
    padding-right: 10px;
    padding-left: 5px;
    width: auto;
  }

  table th:nth-child(7) {
    padding-left: 0px;
    padding-right: 10px;
  }
  table td:nth-child(7) {
    padding-left: 0px;
    padding-right: 10px;
  }

  td .star-td {
    width: 75px !important;
    height: 15px !important;
  }
  td .stars img {
    width: 15px !important; 
    height: 15px !important;
  }
  td .star-wrapper {
    width: 75px !important;
    height: 15px !important;
  }

  
  .rating-button {
    width: 20px;
    height: 20px;
  }

  table th {
    height: 35px;
  }

  th:nth-child(2) {
    padding: 0 15px;
  }

}

.stars {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
}

.stars img {
  width: 20px;
  height: 20px;
}

.star-wrapper {
  position: relative;
  width: 100px;
  height: 20px;
}

.empty {
  z-index: 1;
}
.filled {
  z-index: 2;
  width: 0%;
}

.stars {
  overflow: hidden;
  /*Set width to the percent of rating*/
}
.rating-button {
  transition: transform 0.2s ease-in-out;
}

.rating-button:hover {
  cursor: pointer;
  transform: scale3d(1.1, 1.1, 1.1);
  transition: transform 0.2s ease-in-out;
}

.rating-amount-label {
  color: #494949;
  font-size: 20px;
  text-align: center;
  width: 100%;
  margin: 0;
 

}

.rating-amount-td {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  width: auto;
  text-align: center;


}

.star-td {
  padding-left: 5px;
}