#login-modal {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.inputs {
  position: relative;
}

.eye {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 13px;
  cursor: pointer;
}

#register-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 99999999999999999999999999999999999999999999999999999999999999999999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

#login-modal, #register-modal {
  min-width: 350px;
  max-width: 500px;
  max-height: 600px;
  min-height: 550px;
  height: 60vh;
  border-radius: 20px;
  border: none;
  position: fixed;
  background-color: rgba(15, 15, 15, 0.5);
  z-index: 9999999999999999999999999;
}

#login-modal h1, #register-modal h1 {
  color: rgb(155, 73, 29);
  text-align: center;
  font-size: 3rem;
  font-family: 'Courgette';
}

#login-modal p, #register-modal p {
  font-family: 'Inter';
}

.close-modal {
  position: absolute;
  top: 0;
  right: 0;
  margin: 25px;
  cursor: pointer;
}

#login-modal form {
  display: flex;
  justify-content: center;
  gap: 15%;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 70%;
}

#register-modal form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10%;
  width: 90%;
  height: 100%;
  overflow-y: hidden;
}

.register-inputs input{
  margin-bottom: 20px;
}

.submitBtn, #registerBtn, #confirmRegistrationBtn {
  width: 90%;
  height: 50px;
  background-color: rgba(29, 29, 29, 0.5);
  color: rgb(255, 255, 255);
  border-style: none;
  font-family: 'Inter';
  font-size: 1.5rem;

  border-radius: 10px;
  border-width: 1px;
  border-color: rgb(155, 73, 29);
  
  background: linear-gradient(90deg, rgba(199,30,30,0.6768908246892507) 0%, rgba(255,125,0,0.5872549703475141) 100%);
}
.submitBtn {
  margin-bottom: 0;
}

#confirmRegistrationBtn {

  margin-bottom: 0;
  flex-shrink: 0;
  /*margin-top: auto;
  margin-bottom: 6%;*/
}
#registerBtn{
  background: none;
  border: 1px solid rgb(155, 73, 29);
}
.submitBtn:hover, #confirmRegistrationBtn:hover {
  background: linear-gradient(90deg, rgba(199,30,30,0.9) 0%, rgba(255,125,0,0.9) 100%);
}

#guestBtn {
  width: 100%;
  height: 70px;
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-top: 1px solid rgb(155, 73, 29);
  font-size: 1.3rem;
  cursor: pointer;
}


/*dialog::backdrop {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -99999999999999;
}*/

.login-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(5px);
  z-index: 1233;
}
  

input {
  width: 100%;
  height: 50px;
  background-color: rgba(15, 15, 15, 0);
  border: none;
  border-bottom: 1px solid rgb(155, 73, 29);
}
input::placeholder {
  color: white;
  opacity: 1;
  font-family: 'Inter';
  font-size: 1.5rem;
  font-weight: bold;
}
input:focus {
  outline: none;

}
input:focus::placeholder {
  color: rgba(255, 255, 255, 0.2)
}
input {
  color: white;
  font-size: 1.5rem;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232300;
}   

input {
  color: white;
  font-size: 1.5rem;
}

.inputs {
  width: 100%;
  
  
}
#password {
  margin-top: 20px;
}
#submitBtns{
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.login-container {
  min-width: 350px;
  max-width: 500px;
  width: 500px;
  height: 0px;
}

/*.login-container .inputs {
  display: flex;
  flex-direction: column;
  gap: 0px;
}*/

.info-box {
  display: flex;
  width: 200px;
  height: 100px;
  background-color: rgba(15, 15, 15, 0.5);
  background-color: rgba(15, 15, 15, 0.7);
  top: 50%;
  left: 50%;
  transform: translate(0, 0);
  position: fixed;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  font-family: 'Inter';
  border: 1px solid rgb(155, 44, 29);
  z-index: 99999999999999999999999999999999999999999;
}
.info-box p {
  font-size: 1.2rem;
}


@media (max-width: 1024px) {
  /*Slightly better visibility on mobile because theres more things going on*/
  #login-modal, #register-modal {
    background-color: rgba(15, 15, 15, 0.7);
  }
}

@media (max-width: 768px) {
  #login-modal {
    min-height: 0px;
    height: 475px;
  }

  #login-modal form {
    gap: 12%;
  }

  #register-modal form {
    gap: 4%;
  }

}