:root {
  --primary-color: rgb(41, 39, 38);
  --secondary-color: #9b491d;
  --tertiary-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px dashed red;
  border: none !important;
}

body {
  background-color: var(--primary-color);
}


.pizza-container {
  height: calc(100vh - 64px);
  
  align-items: center;
  width: 50vw;
  position: relative;
  padding-top: calc(50vh - 64px - 30vh);
  
}

.builder-wrapper {
  display: flex;
}

.pizza {
  width: calc(50vw);
  height: calc(50vw * 0.5625);
  max-height: 800px;
  background-image: url("../assets/pizza-no-background.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;

}
.ingredients-container {
  display: flex;
  flex-wrap: wrap;
  flex-flow:wrap;
  margin: 0;
  justify-content: center;
  align-items: center;
  height: 60vh;
  gap: 20px;
  width: 50vw;
  border: 1px solid magenta;
  align-self: center;

}

.ingredient {
  width: 200px;
  height: 200px;
}

.ingredient:hover {
  cursor: pointer;
  transform: scale(1.2);
}

#pizza {
  position: relative;
}
.test {
  position: absolute;
  left: calc(20%);
  top: calc(50% - 50px);
}

.ic {
  border: 3px solid pink;
  margin-top: 4%;
  height: 65%;
  width: 70%;
  position: relative;
  max-width: 1000px;
}

.invisible {
  display: none;
}

.btn {
  width: 250px;
  height: 75px;
  
  border-radius: 40px;
  background-color: var(--secondary-color);
  font-size: 1.3rem;
  color: var(--tertiary-color);
  border: none;


}

.btn:hover {
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  gap: 5%;

}

#find-us-btn:hover, #about-us-btn:hover {
  cursor: pointer;
}