@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: red 1px dashed;
}

#navbar {
  display: flex;
  background-color: rgb(34, 34, 34);
  height: 4rem;
  font-family: 'Inter', sans-serif;
  position: sticky;
  top: 0;
  z-index: 1222;
  overflow-y: hidden;
}

#navbar ul {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 7vw;
  align-items: center; /* Might not need to be */
 
}

#navbar li {
  list-style: none;
  white-space: nowrap;
  width: 100px;
  text-align: center;
}

#navbar a {
  height: 100%;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.divider {
  height: 5px;
  width: 5px;
  background-color: #9b491d;
  border-radius: 50%;
  
}

#nav-logo {
  
  font-size: 3rem;
  font-weight: bolder;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 10px;
  font-family: 'Courgette', cursive;
  color: #9b491d;
    text-shadow: 1px 1px 1px #6a2317,
        1px 2px 1px #6a2317,
        1px 3px 1px #6a2317,
        1px 4px 1px #6a2317,
        1px 5px 1px #6a2317,
        1px 6px 1px #6a2317,
        1px 7px 1px #6a2317,
        1px 8px 1px #6a2317,
        1px 9px 1px #6a2317,
        1px 10px 1px #6a2317,
    1px 18px 6px rgba(39, 8, 3,0.4),
    1px 22px 10px rgba(39, 8, 3,0.2),
    1px 25px 35px rgba(39, 8, 3,0.2),
    1px 30px 60px rgba(39, 8, 3,0.4);
  width: 200px;
}




.hero {
  background-color: rgb(41, 39, 38);
  
  font-family: 'Inter', sans-serif;
  color: #fff;
  display: flex;
}

.hero h1 {
  font-size: 5vw;
  
}

.hero span {
  font-size: 3vw;
  align-self: center;
}

#hero-ginos {
  font-size: 5vw;
  margin-top: 100px;
 
  text-align: center;
  
  
}

.hero-text {
  z-index: 2;
  position:relative;
  display: flex;
  justify-content: left;
  margin-left: 10vw;
  align-items: center;
  width:fit-content;

  height:fit-content;
  padding-top: 0px;
  align-self: center;
  margin-bottom: 5%;
  
}

.hero-buttons {
  display: flex;
  flex-direction: column;
  
  height: fit-content;
  margin-left: auto;

  gap: 60px;

  margin-right: 10vw;
  margin-bottom: 5%;
  align-self: center;
}

.bottom-buttons {
  display: flex;
  gap: 90px;
}




#s1 {
  text-transform: uppercase;
    font-family: verdana;
    font-size: 12em;
    font-weight: 700;
    color: #9b491d;
    text-shadow: 1px 1px 1px #6a2317,
        1px 2px 1px #6a2317,
        1px 3px 1px #6a2317,
        1px 4px 1px #6a2317,
        1px 5px 1px #6a2317,
        1px 6px 1px #6a2317,
        1px 7px 1px #6a2317,
        1px 8px 1px #6a2317,
        1px 9px 1px #6a2317,
        1px 10px 1px #6a2317,
    1px 18px 6px rgba(65, 15, 6, 0.4),
    1px 22px 10px rgba(106, 35, 23,0.2),
    1px 25px 35px rgba(106, 35, 23,0.2),
    1px 30px 60px rgba(106, 35, 23,0.4);

}

.test {
  width: 10px;
  height: 10px;
  background-color: #9b491d;
  box-shadow: 1px 1px 1px #6a2317,
        1px 2px 1px #6a2317,
        1px 3px 1px #6a2317,
        1px 4px 1px #6a2317,
        1px 5px 1px #6a2317,
        1px 6px 1px #6a2317,
        1px 7px 1px #6a2317,
        1px 8px 1px #6a2317,
        1px 9px 1px #6a2317,
        1px 10px 1px #6a2317,
    1px 18px 6px rgba(106, 35, 23,0.4),
    1px 22px 10px rgba(106, 35, 23,0.2),
    1px 25px 35px rgba(106, 35, 23,0.2),
    1px 30px 60px rgba(106, 35, 23,0.4);
  
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 10;
  width: clamp(200px, 13vw, 300px);
  height: clamp(200px, 13vw, 300px);
  border-radius: 50%;
  background-color: rgb(155, 73, 29, 1);
  box-shadow: 1px 1px 1px #6a2317,
        1px 2px 1px #6a2317,
        1px 3px 1px #6a2317,
        1px 4px 1px #6a2317,
        1px 5px 1px #6a2317,
        1px 6px 1px #6a2317,
        1px 7px 1px #6a2317,
        1px 8px 1px #6a2317,
        1px 9px 1px #6a2317,
        1px 10px 1px #6a2317,
    1px 18px 6px rgba(106, 35, 23,0.4),
    1px 22px 10px rgba(106, 35, 23,0.2),
    1px 25px 35px rgba(106, 35, 23,0.2),
    1px 30px 60px rgba(106, 35, 23,0.4);

    font-family: verdana;
    font-size: 3rem;
    font-weight: 700;
    color: #33261f;
    text-shadow: 1px 1px 1px #6a2317,
        1px 2px 1px #6a2317,
        1px 3px 1px #6a2317,
        1px 4px 1px #6a2317,
        1px 5px 1px #6a2317,
        1px 6px 1px #6a2317,
        1px 7px 1px #6a2317,
        1px 8px 1px #6a2317,
        1px 9px 1px #6a2317,
        1px 10px 1px #6a2317,
    1px 18px 6px rgba(65, 15, 6, 0.4),
    1px 22px 10px rgba(106, 35, 23,0.2),
    1px 25px 35px rgba(106, 35, 23,0.2),
    1px 30px 60px rgba(106, 35, 23,0.4);
  text-align: center;
}

.button:hover {
  background-color: #803c17;
  box-shadow: 1px 1px 1px #6a2317,
        1px 2px 1px #6a2317,
        1px 3px 1px #6a2317,
        1px 4px 1px #6a2317,
        1px 5px 1px #6a2317,
        1px 6px 1px #6a2317,
        
    1px 18px 6px rgba(39, 8, 3,0.4),
    1px 22px 10px rgba(39, 8, 3,0.2),
    1px 25px 35px rgba(39, 8, 3,0.2),
    1px 30px 60px rgba(39, 8, 3,0.4);
  transform: translateY(2px);
}


/*
.text {
    position: absolute;
    top: 50%; 
    right: 50%;
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: verdana;
    font-size: 12em;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}
*/

.hero {
  background-color: #242424;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: calc(100vh - 64px);
  position:relative;
  
}

#s1 span {
  display: flex;
  justify-content: center;

}
.upside-down {
  transform: scaleY(-1);
}



main {
  height: 500px;
  background-color: rgb(41, 39, 38);
}

#particles-js{
  width: 100%;
  z-index: 1;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
 
}


.custom-shape-divider-top-1683731907 {
  position: relative;
  /*display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  background-color: grey;*/
  
  height: 200px;
  width: 100%;
  background-size: 200%;
  overflow-x: hidden;
  z-index: -3;
  background-color: rgb(41, 39, 38);
}

.custom-shape-divider-top-1683731907 svg {
  /*position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 102px;*/
  
  width: 120vw;
  height: 140px;
  
}

.custom-shape-divider-top-1683731907 .shape-fill {
  fill: url(#myGradient);
}

@media (max-width:2100px){
  .shapedividers_com-5556::before{
  background-size: 100% calc(2vw + 90px);
  }
}
/*Look up correct max-width for tablet*/
@media screen and (max-width: 960px) {
  .divider {
    display: none;
  }
  .custom-shape-divider-top-1683731907 svg {
    width: 200vw;
    
  }
 
}

.top-button {
  margin: auto;

}

.two {
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 0.5;
  z-index: -1;
  
}

.one {
  position: absolute;
  z-index: 2;
  
}

footer {
  position: relative;
  height: 600px;
  background-color: #242424;
}

#arrow {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  bottom: 0;
  margin-bottom: 1.5%;
  color: #9b491d;
    text-shadow: 1px 1px 1px #6a2317,
        1px 2px 1px #6a2317,
        1px 3px 1px #6a2317,
        1px 4px 1px #6a2317,
        1px 5px 1px #6a2317,
        1px 6px 1px #6a2317,
        1px 7px 1px #6a2317,
        1px 8px 1px #6a2317,
        1px 9px 1px #6a2317,
        1px 10px 1px #6a2317,
    1px 18px 6px rgba(65, 15, 6, 0.4),
    1px 22px 10px rgba(106, 35, 23,0.2),
    1px 25px 35px rgba(106, 35, 23,0.2),
    1px 30px 60px rgba(106, 35, 23,0.4);

}
/*Look up correct max-width for mobile and add nav button*/

/* Hero configuration */
/*
.hero {
  position: relative;
  height: 500px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  background-color: black;
  z-index: -2;
}

.hero h1 {
  position: relative;
  color: #fff;
}

.circle {
  width: 38vw;
  height: 38vw;
  background-color: #ac5300;
  border-radius: 50%;
  position: absolute;
  margin-left: 34.25%;
  margin-top: 9vw;
  z-index: 2;
  perspective: 100%;
}

.hero::before {
  content: "";
  background-image: url("hero.jpg");
  background-size: cover;
  background-position: 50% 15%;
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
  opacity: 0.5;
}





@media screen and (max-width: 1500px) {
  .circle {
    background-color: green;
    margin-top: 140px;
  }
  .circle:hover {
    background-color: blue;
  }
}

@media screen and (max-width: 1300px) {
  .circle {
    background-color: yellow;
    margin-top: 11vw;
  }
}

@media screen and (max-width: 1100px) {
  .circle {
    background-color: aqua;
    margin-top: 12vw;
  }
}
*/

