#login-modal:modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#register-modal:modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

dialog h1 {
  color: rgb(155, 73, 29);
  text-align: center;
  font-size: 3rem;
  font-family: 'Courgette';
}
dialog p {
  font-family: 'Inter';
}
#login-modal form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 70%;
}

#register-modal form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  height: 100%;
  overflow-y: hidden;
}

.register-inputs input{
  margin-bottom: 20px;
}

.submitBtn, #registerBtn, #confirmRegistrationBtn {
  width: 20vw;
  height: 50px;
  background-color: rgba(29, 29, 29, 0.5);
  color: rgb(255, 255, 255);
  border-style: none;
  font-family: 'Inter';
  font-size: 1.5rem;

  border-radius: 10px;
  border-width: 1px;
  border-color: #c4360a;
  margin-bottom: 10%;
  background: linear-gradient(90deg, rgba(199,30,30,0.6768908246892507) 0%, rgba(255,125,0,0.5872549703475141) 100%);
}
.submitBtn {
  margin-bottom: 0;
}
#confirmRegistrationBtn {

  margin-bottom: 0;
  flex-shrink: 0;
  margin-top: auto;
  margin-bottom: 6%;
}
#registerBtn{
  background: none;
  border: 1px solid rgba(199,30,30,0.6768908246892507);
}
.submitBtn:hover, #confirmRegistrationBtn:hover {
  background: linear-gradient(90deg, rgba(199,30,30,0.9) 0%, rgba(255,125,0,0.9) 100%);
}

#guestBtn {
  width: 100%;
  height: 70px;
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-top: 1px solid #c4360a;
}

#guestBtn p {
  font-size: 1.2rem;
}

dialog::backdrop {
  backdrop-filter: blur(5px);
}
  
dialog {


  width: 30vw;
  height: 60vh;
  border-radius: 20px;
  border: none;

  background-color: rgba(15, 15, 15, 0.5);

}
input {
  width: 100%;
  height: 50px;
  background-color: rgba(15, 15, 15, 0);
  border: none;
  border-bottom: 1px solid #c4360a;
}
input::placeholder {
  color: white;
  opacity: 1;
  font-family: 'Inter';
  font-size: 1.5rem;
  font-weight: bold;
}
input:focus {
  outline: none;

}
input:focus::placeholder {
  color: rgba(255, 255, 255, 0.2)
}
input {
  color: white;
  font-size: 1.5rem;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232300;
}   

input {
  color: white;
  font-size: 1.5rem;
}

.inputs {
  width: 100%;
  margin-top: 10%;
}
#password {
  margin-top: 20px;
}
#submitBtns{
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
  gap: 10px;
}